<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search search-input="$ctrl.searchInput" handle-search-click="$ctrl.handleSearchClick" handle-input-change="$ctrl.handleInputChange"><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player video="$ctrl.currentVideo" auto-play-string="$ctrl.autoPlayString"><h5><em>videoPlayer</em> component goes here</h5></video-player>
      <button type="button" class="autoplay" ng-click="$ctrl.toggleAutoplay()">AutoPlay</button>
    </div>
    <div class="col-md-5">
      <video-list handle-title-click="$ctrl.handleTitleClick" videos="$ctrl.videos"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
